
<aside class="main-sidebar sidebar-dark-primary bg-gradient-navy elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link z-depth-0" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/capsule.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <div class="brand-text">
            <span class="font-weight-bold">Food</span>
            <p class="font-weight-lighter" style="font-size: .95rem">
                DrugVerify System
            </p>
        </div>
        
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        @*<div class="user-panel mt-1 pb-1 mb-1 d-flex">
            <small class="info">
                School Recognition System
            </small>
        </div>*@
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        @*<i class="nav-icon fas fa-copy"></i>*@
                        <p>
                            Administrative Actions
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item has-treeview pl-4">
                            <a href="#" class="nav-link">

                                <p>Manufacturers</p> <i class="fas fa-angle-left right"></i>
                            </a>


                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Manufacturers" asp-action="Manufacturers" data-toggle="link">
                                        <i class="fas fa-receipt nav-icon"></i>
                                        <p>Available</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Manufacturers" asp-action="Create" data-toggle="link">
                                        <i class="fas fa-mail-bulk nav-icon"></i>
                                        <p>Add</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview pl-4">
                            <a href="#" class="nav-link">

                                <p>Manage Drugs</p> <i class="fas fa-angle-left right"></i>
                            </a>


                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="index" asp-controller="Drugs" class="nav-link" data-toggle="link">
                                        <i class="fas fa-building nav-icon"></i>
                                        <p>Available Drugs</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Create" asp-controller="Drugs" class="nav-link" data-toggle="link">
                                        <i class="fas fa-building nav-icon"></i>
                                        <p>New Drug</p>
                                    </a>
                                </li>
                               
                               
                            </ul>
                        </li>


                       

                       
                       
                    </ul>
</li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <!--<i class="nav-icon fas fa-copy"></i>-->
                        <p>
                            System Settings
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Manage" data-toggle="link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>Manage Users</p>
                            </a>
                        </li>
                       
                        @*<li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>Functionality 3</p>
                            </a>
                        </li>*@
                    </ul>
                </li>

               

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->

</aside>