@{

    ViewData["Title"] = "Drug Verizone System";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}


    <div class="alert alert-danger" role="alert">
This drug is fake. Kindly report by filling this <a asp-controller="Complaints" asp-action="Create"> form</a>.</div>