@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
Complaint  Submitted Successfully. <a asp-controller="Home" asp-action="Index" >Click here to return home.</a></div>
</div>